h1{
    color: red;
    text-align: center;
    font-size:75px;
    Font-family: Copperplate, Copperplate Gothic Light, fantasy.
}
h2{
    color: white;
    text-align: center;
}
body{
    background-color: black;
    width: 1400px;
}
.double{
    width: 100%;
    text-align: center;
}
.image{
    text-align: center;
}
li{
    text-align: center;
    font-size: 50px;
    font-family: OCR A Std, monospace;
}
a{
    text-decoration: none;
    text-color: blue;
}
