h1{
    color: red;
    text-align: center;
    font-size:75px;
    text-decoration: underline;
    font-family: 'Tilt Prism', cursive;

}
h2{
    color: white;
    text-align: center;
    font-family:'Orbitron', sans-serif;
    text-decoration: underline;
}
body{
    background-color: black;
    width: 1400px;
}
.double{
    width: 100%;
    text-align: center;
}
.image{
    text-align: center;
}
li{
    text-align: center;
    font-size: 50px;
    font-family:'Orbitron', sans-serif;
}
a{
    text-decoration: none;
    text-color: white;
}
.discord{
    text-align: center;
    color: white;
    font-size:30px;
}
